clone repo từ github về + change dir vào chỗ file titanic.csv

In [ ]:
!git clone https://github.com/blackfox20092006/SP26-AI1904-DAP391m

Cloning into 'SP26-AI1904-DAP391m'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 21 (delta 2), reused 14 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (21/21), 54.74 KiB | 3.22 MiB/s, done.
Resolving deltas: 100% (2/2), done.

In [ ]:
%cd SP26-AI1904-DAP391m/
!ls
%cd data
!ls

/content/SP26-AI1904-DAP391m/data/SP26-AI1904-DAP391m
 data  'lab 1'	'lab 2'   README.md
/content/SP26-AI1904-DAP391m/data/SP26-AI1904-DAP391m/data
Salary_dataset.csv  titanic.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

đọc file csv + xem structure của dataframe + dropna một số cột

In [ ]:
a = pd.read_csv('titanic.csv')
a.info()
a.keys()
a = a.dropna(subset=['pclass', 'age', 'sex', 'sibsp', 'survived'])
a.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

biến dự đoán là survived, còn biến data pclass, age, sex và sibsp
lý do chọn các biến độc lập như này là vì khách có sống sót hay không đa số phụ thuộc vào pclass (tier càng cao thì được ưu tiên đi trước, đỡ chen lấn), age (trẻ thì chạy nhanh, khỏe hơn già), sex (nam thì khỏe hơn nữ (đa số trường hợp)), sibsp (không có người nhà thì đỡ bận tâm, lo chạy được, càng nhiều người nhà càng phân vân dễ chìm theo tàu)

In [ ]:
x = a[['pclass', 'age', 'sex', 'sibsp']]
y = a['survived']

làm model linear regression, chia train/test theo tỉ lệ 80%/20%

In [ ]:
model = LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model.fit(x_train, y_train)
output = model.predict(x_test)

model có độ chính xác khá thấp khi chỉ giải thích được khoảng 36,6% sự biến thiên của dữ liệu và các chỉ số sai số cho thấy hiệu quả dự đoán của mô hình chưa cao.

In [ ]:
r2 = r2_score(y_test, output)
mae = mean_absolute_error(y_test, output)
mse = mean_squared_error(y_test, output)
print(r2, mae, mse)

0.3657282549348627 0.3152288185919958 0.1528149045650132